/**
 *  Side Nav Bar
 */

.ll-sidenavbar-container {
  min-height: 100vh;
  background-color: $light-gray;
  border-right: 1px solid $light-gray-accent;
  // position: absolute;
  // top: 0;
  // bottom: 0;

}

.ll-sidenavbar {
  margin-top: 20px;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 0.25rem;
  }

  a {

    padding-left: 10px;

    &.active {
      border-left: 2px solid #aaa;
      padding-left: 8px;
    }

    &:hover {
      text-decoration: none;
    }
  }

}
