/**
 *  Side Nav Bar
 */

.ll-sidenavbar-container {
  min-height: 95vh;
  background-color: $light-gray;
  border-right: 1px solid $light-gray-accent;


}

.ll-sidenavbar {
  margin-top: 20px;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 0.25rem;
  }

  a.active {
    border-bottom: 0.1rem solid #aaa;
  }

  a:hover {
    text-decoration: none;
  }
}
