/**
 *  Side Nav Bar
 */

.ll-sidenavbar-container {
  min-height: 100vh;
  background-color: lighten($ll-gray-black, 10%);
}

.ll-sidenavbar {
  margin-top: 20px;
  padding: 0;
  list-style: none;

  // hr {
  //   background-color: $ll-gray-black;
  // }

  &__seperator {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1.5rem 0px 1rem 0px;
  }

  &__title {
    a {
      font-size: 1.5rem;
      color: lighten($ll-gray-light, 15%);
      text-decoration: none;

      &:hover {
        color: lighten($ll-gray-light, 40%);
      }

      &.active {
        color: lighten($ll-gray-light, 40%);
      }
    }
  }

  &__subtitle {
    color: $ll-gray-light;
    margin-bottom: 0.5rem;
    padding-left: 5px;
  }

  &__link {
    margin-bottom: 0.25rem;

    a {
      text-decoration: none;
      color: lighten($ll-gray-light, 30%);
      padding-left: 10px;

      &.active {
        border-left: 2px solid lighten($ll-gray-light, 50%);
        padding-left: 8px;
        color: lighten($ll-gray-light, 55%);
      }

      &:hover {
        text-decoration: none;
        color: lighten($ll-gray-light, 50%);
      }
    }
  }
}
