/**
 *  Colors
 */

$ll-white: #fff;
$ll-white-powder: #fdfffc;

$ll-red: #c1292e;

$ll-blue: #476c9b;

$ll-cyan: #468c98;
$ll-cyan-light: #94D1BE; //pearl aqua

$ll-green: #84A98C; // dark sea green

$ll-yellow: #E9D758; // hansa yellow

$ll-black: #010400; // registration black
$ll-gray-black: #101419;
$ll-gray: #3B413C; // black olive
$ll-gray-blue: #9DB5B2; // cambridge blue
$ll-gray-light: #59656F; // black coral

$ll-gray-light2: #424B54; // outer space
$ll-gray-light3: #CAD2C5; // pastel gray
